/vendor
/node_modules
/public/js
/public/views
/.idea
Homestead.yaml
Homestead.json
app.css
*.map

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
